<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <%= link_to root_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do %>
    <svg class="bi me-2" width="40" height="32"></svg>
    <span class="fs-4">Crypto Exchange</span>
  <% end %>

  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "Exchange", new_transaction_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Transactions", transactions_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Wallets", wallets_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Settings", settings_path, class: "nav-link" %></li>
  </ul>
</header>
