<h3 class="text-center mt-5">Settings</h3>
<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead class="text-center">
    <tr>
      <th>Title</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>

    <tbody>
    <% settings.each do |setting| %>
      <%= form_with model: setting do |f| %>
        <tr>
          <td class="align-middle"><%= f.text_field :title, class: 'form-control' %></td>
          <% if setting&.title == 'ex_rate' %>
            <td class="align-middle text-center"><%= setting.value %></td>
          <% else %>
            <td class="align-middle"><%= f.text_field :value, class: 'form-control' %></td>
          <% end %>
          <td class="align-middle"><%= f.text_field :description, class: 'form-control' %></td>
          <td class="align-middle text-center">
          <%= button_tag type: 'submit', data: { turbo_confirm: "Are you sure to update setting?" },
                                        class: "btn btn-success btn-sm" , title: "Update" do %>
            <i class="bi bi-arrow-clockwise"></i>
          <% end %>
          </td>
          <td class="align-middle text-center">
          <%= link_to setting, data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete setting?" },
                              class: "btn btn-danger btn-sm", title: "Delete" do %>
            <i class="bi bi-trash"></i>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
