<div class="container">
<main>
  <div class="py-2 text-center">
    <h3>Exchange form</h3>
  </div>

  <div class="row g-5">
    <div class="col-md-3"></div>
      <div class="col-md-6">
       <%= form_with model: transaction, data: { controller: "form input-validation", action: "turbo:submit-end->input-validation#validate" } do |form| %>
        <div class="row g-3">
          <div class="col-md-8">
            <%= form.label :amount_send, 'You send', style: "display: block" %>
            <%= form.number_field :amount_send, step: 0.001,
              data: { 'action': 'input->form#updateGetAmount input->form#updateExFeeAmount', 'form-target': 'sendAmount' },
              id: 'send', class: 'form-control', autofocus: true %>
              <p data-input-validation-target="errorContainer" data-error-type="amount_send" class="text-danger" role="alert"></p>
          </div>

          <div class="col-md-4 ">
            <%= form.label :currency_from, 'Currency', style: "display: block" %>
            <%= form.select :currency_from, Transaction.currencies.keys, class: "form-control", selected: 'USDT' %>
          </div>

          <div class="card border border-0 my-0">
            <div class="card-body">
              1 USDT ~ <span data-form-target = 'exRate'><%= ex_rate %></span> BTC
            </div>
            <%= form.hidden_field :ex_rate, value: ex_rate %>
          </div>

          <div class="col-md-8 mt-0">
            <%= form.label :amount_get, 'You get', style: "display: block" %>
            <%= form.number_field :amount_get, step: 0.00000001,
              data: { 'action': 'input->form#updateSendAmount input->form#updateExFeeAmount', 'form-target': 'getAmount' },
              id: "get", class: 'form-control' %>
              <p data-input-validation-target="errorContainer" data-error-type="amount_get" class="text-danger" role="alert"></p>
          </div>

          <div class="col-md-4 mt-0">
            <%= form.label :currency_to, 'Currency', style: "display: block" %>
            <%= form.select :currency_to, Transaction.currencies.keys, class: 'form-control', selected: 'BTC' %>
          </div>

          <div class="col-md-12">
            <%= form.label :recip_email, 'Email', style: "display: block" %>
            <%= form.email_field :recip_email, class: 'form-control' %>
            <p data-input-validation-target="errorContainer" data-error-type="recip_email" class="text-danger" role="alert"></p>
          </div>

          <div class="col-md-12">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Exchange fee (<span data-form-target = 'exFee'><%= ex_fee %></span>%)
                 - <span data-form-target = 'exFeeAmount'></span>
              </li>
              <li class="list-group-item">Network fee (BTC) - <span data-form-target = 'netFee'><%= net_fee %></span></li>
            </ul>
            <%= form.hidden_field :ex_fee, data: { 'form-target': 'exFeeAmountHidden' } %>
            <%= form.hidden_field :net_fee, value: net_fee %>
          </div>

          <div class="col-md-12">
            <%= form.label :recip_btc_address, 'Wallet address', style: "display: block" %>
            <%= form.text_field :recip_btc_address, class: "form-control" %>
            <p data-input-validation-target="errorContainer" data-error-type="recip_btc_address" class="text-danger" role="alert"></p>
          </div>

          <div class="form-check">
            <%= form.check_box :kyc %> I agree with KYC
            <p data-input-validation-target="errorContainer" data-error-type="kyc" class="text-danger" role="alert"></p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= form.submit 'Exchange', class: 'w-100 btn btn-lg btn-outline-primary' %>
            </div>
            <div class="col-md-6">
              <%= link_to "Back", root_path, class: 'w-100 btn btn-lg btn-outline-primary' %>
            </div>
          </div>
        </div>
       <% end %>
      </div>
    <div class="col-md-3"></div>
  </div>
</main>
