<div class="container">
<main>
  <div class="py-5 text-center">
    <h3>Exchange <%= @transaction.status %></h3>
  </div>

  <div class="row g-5">
    <div class="col-md-3"></div>
      <div class="col-md-6">
       <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-8">
            <label for="amount_send" class="form-label">You send</label>
            <span type="text" class="form-control" id="amount_send"><%= @transaction.amount_send %></span>
          </div>

          <div class="col-md-4">
            <label for="currency_from" class="form-label">Currency</label>
            <span type="text" class="form-control" id="currency_from"><%= @transaction.currency_from %></span>
          </div>

          <div class="card border border-0 my-2">
            <div class="card-body">
              1 USDT ~ <%= @transaction.ex_rate %> BTC
            </div>
          </div>

          <div class="col-sm-8 mt-0">
            <label for="amount_get" class="form-label">You get</label>
            <span type="text" class="form-control" id="amount_get"><%= @transaction.amount_get %></span>
          </div>

          <div class="col-md-4 mt-0">
            <label for="currency_to" class="form-label">Currency</label>
            <span type="text" class="form-control" id="currency_to"><%= @transaction.currency_to %></span>
          </div>

          <div class="col-12">
            <label for="recip_btc_adress" class="form-label">Recipient address</label>
            <span type="text" class="form-control" id="recip_btc_adress">
              <%= link_to @transaction.recip_btc_address,
                "https://blockstream.info/testnet/search?q=#{@transaction.recip_btc_address}", :target => "_blank" %>
            </span>
          </div>

          <div class="col-12">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Exchange fee (BTC) - <%= @transaction.ex_fee %></li>
              <li class="list-group-item">Network fee (BTC) - <%= @transaction.net_fee %></li>
            </ul>
          </div>

          <div class="col-12">
            <label for="tx_id" class="form-label">Transaction ID</label>
            <span type="text" class="form-control" id="tx_id">
              <%= link_to @transaction.txid, "https://blockstream.info/testnet/search?q=#{@transaction.txid}", :target => "_blank" %>
            </span>
          </div>

          <hr class="my-4">
          <div class="row">
            <div class="col-md-6">
              <%= link_to "Back", root_path, class: 'w-100 btn btn-lg btn-outline-primary' %>
            </div>
            <div class="col-md-6">
              <%= link_to "New exchange", new_transaction_path, class: 'w-100 btn btn-lg btn-outline-primary' %>
            </div>
          </div>
        </div>
       </form>
      </div>
    <div class="col-md-3"></div>
  </div>
</main>
